%li.highlight[inventory]

  %ul.tools
    %li= link_to_edit [:admin ,@warehouse, inventory]
    %li= link_to_delete [:admin,@warehouse, inventory]

  %span 
    =link_to(inventory.product.name, {:action => :edit, :id => inventory.id}, {:remote  => true,
          :onclick => "this.href = this.href.split('?')[0] + '?previous='+crm.find_form('edit_inventory');"})
  %tt
    =t(:quantity) << ":"
    =t(inventory.quantity) << " " << inventory.product.measurement
  
    